footer
{
	margin-top: 10px;

	background: #a9b189 url(background_menu.png) top left repeat;
	/* #a7bc7a */
	border: 1px solid #718743;
	border-radius: 2px;
	
	text-align: center;
	padding: 5px;
}

@media all and (max-width: 1024px)
{
	footer
	{
		margin-top: 3px;
	}
	
}

@media all and (max-device-width: 480px)
{
	footer
	{
		background: #a7bc7a;
	}
}
