.infos
{
    margin-top: 50px;
}

.info_success, .info_error
{
	width: 80%;
    margin-top: 10px;
	margin-left: 14%;

	border-radius: 15px 3px 20px 3px;

    background: #eeffd8 url(background_info.png) top left repeat;

	font-family: Comic Sans MS;
	font-size: 20px;
	text-align: center;
	color: #232323;
}

.info_success ul, .info_error ul
{
	list-style-type:none;
}

.info_success
{

	color: #718743;
	border: 2px solid #718743;
	box-shadow: 1px 1px 5px #5b7018;
}

.info_error
{
	background-color: #ffcfcf;
	color: #ae3c3c;
	border: 2px solid #ae3c3c;
	box-shadow: 1px 1px 5px #f69999;

}

@media all and (max-width: 1024px)
{
	.info
	{
		margin-left: 9%;
		width: 80%;
		margin-top: 3px;

		box-shadow: none;
		border-radius: 10px 3px 12px 3px;

	}
}

@media all and (max-device-width: 480px)
{
	.info
	{
		background: #daf1ba;
	}
}
