nav
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #919196 url(menu.png) top left repeat;
}

nav img
{
    float: right;
    margin: 2px;
}

nav ul
{
    margin: 0;
    font-size: 24px;
	list-style-type:none;
	text-align: center;
}

nav li
{
    float: left;
    line-height: 45px;
    background: #919196 url(menu.png) top left repeat;
    transition: background 0.5s;

}

nav li:hover
{
    background: #59595d url(menu.png) top left repeat;
}

nav li a, nav li .roll
{
    display: inline-block;
    width: 200px;
    color: white;
}


nav li ul
{
    padding: 0;
    position: absolute;
    z-index: 200;
}

nav li:hover ul
{
    display: block;
}

nav li ul li
{
    float: none;
    height: 0;
    overflow: hidden;
    position: relative;
    top: 2.5px;
}

nav li:hover ul li
{
    transition: height 0.5s;
    height: 48px;
}



