nav
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #a9b189 url(background_menu.png) top left repeat;
}

nav a
{
    color: white;
}

nav ul
{
    margin: 0;

    font-size: 24px;
    text-shadow: -1px -1px 3px #586835;
	list-style-type:none;
	text-align: center;
    color: white;

}



nav li
{
    float: left;
    padding: 0;
    line-height: 45px;

    border-right: 1px solid #718743;
}

nav li:hover
{
    background: #9caa7f url(background_menu.png) top left repeat;
}

nav li a, nav li .roll
{
    display: inline-block;

    line-height: 35px;
    text-align: center;
    width: 200px;
}


nav li ul
{
    display: none;

    border: 1px solid #718743;
    border-top: none;
    padding: 0;

    position: absolute;
    z-index: 200;
    background: #a9b189 url(background_menu.png) top left repeat;
}


nav li li
{

    display: block;

    border: none;


    margin: 0;
    width: 200px;
}




nav li:hover ul
{
    display: block;
}