nav
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #aab8ce url(background_menu.png) top left repeat;
}

nav img
{
    float: right;
    margin: 2px;
}
nav a
{
    color: white;
}

nav ul
{
    margin: 0;

    font-size: 24px;
    text-shadow: -1px -1px 3px #85afc5;
	list-style-type:none;
	text-align: center;
    color: white;

}



nav li
{
    float: left;
    padding: 0;
    line-height: 45px;
    transition: color 1s;
    border-right: 1px solid #8299be;
    background: #aab8ce url(background_menu.png) top left repeat;

    transition: background 0.5s;

}


nav li:hover
{
    background: #8397b8 url(background_menu.png) top left repeat;

}

nav li a, nav li .roll
{
    display: inline-block;

    line-height: 35px;
    text-align: center;
    width: 200px;
}


nav li ul
{
    display: none;

    border: 1px solid #8299be;
    border-top: none;
    padding: 0;

    position: absolute;
    z-index: 200;
}


nav li li
{

    display: block;

    border: none;


    margin: 0;
    width: 200px;
}




nav li:hover ul
{
    display: block;
}