a
{
	text-decoration: none;
}

body
{
	background: #dfdfe1 url(background_body.png) top left repeat;
}

input
{
    outline: none
}

@font-face
{
	font-family: 'Amble';
	src: url(Amble-Light.ttf) format('truetype');
}
