<!DOCTYPE html>
<html>
    <head>
		<meta name="keywords" content="synbioz, sYnbioZ, synbiozis, sYnbioZis, python, tk, .tk" />
		<meta charset="UTF-8" />
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='header.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='menu.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='section.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static', filename='footer.css') }}" rel="stylesheet" type="text/css" />
		<title>sYnbioZ</title>
    </head>

    <body>
    	<header>
    		<img src="{{ url_for('static', filename='banniere.png') }}" alt="banierre" title="sYnbioZis.pythonanywhere.com"/>
    	</header>
    	
    	<nav>
 			<ul>
    			<a href="#"><li>First thing</li></a>
    			<a href="#"><li>Second thing</li></a>
    			<a href="#"><li>Third thing</li></a>
    			<a href="#"><li>...</li></a>
			</ul>
    	</nav>
    	
    	<section>
    		<br /><center><h2>Some useless infos.</h2></center><br />
    	</section>
    	
    	<section>
    		<br /><center><h1>This is the content of the website !</br /> </br /></br /></br /></br /></br />There is not a lot of things right now...</h1><br />
    		<h1>Test 2</h1></center><br />
    	</section>
    	
    	<footer>
    		<center><h1>It is the End, beautifull friend...</br />My only friend, the End...</h1></center>
    		
    	</footer>
    	
		
    </body>
</html>
