{% extends "bones.html" %}

{% block title %}Upload Clip{% endblock %}

{% block section %}


<form action="#" method="post">
<fieldset>
    <legend>Infos</legend>
	<label for="clip_title">Titre : </label><input type="text" name="title" id="clip_title" placeholder="Titre" />
	<label for="clip_address">Addresse : </label><input type="text" name="address" id="clip_address" placeholder="//www.youtube.com/embed/OdvCqUguIh8" /><br /><br />

	<label for="clip_comment">Commentaires : </label><br /><textarea name="comment" id="clip_comment" placeholder="Youre comments on the clip..."></textarea><br /><br />

	<label for="clip_pass">Mot de Passe</label><input type="password" name="pass" id="clip_pass" placeholder = "Password" /><br />
	<input type="submit" value="Envoyer" />


</fieldset>
</form>
{% endblock %}

